{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ company.companyName }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ company.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ company.province }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ company.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Companywebsite</th>
                <td>{{ company.companyWebsite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ company.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
