{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kale.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kale.name }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if kale.birthdate %}{{ kale.birthdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kale_edit', { 'id': kale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
