{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group">
        <label for="username">{{ 'Username' }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <label for="password">{{ 'Password' }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
        <small class="form-text text-muted">Don't ever share your password with anybody</small>
    </div>
    <!-- 
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ '' }}</label>
    -->
    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'Login' }}" />
</form>
