{% extends 'base.html.twig' %}

{% block body %}
<h1>This is the all user page</h1>
<h2>List of Users</h2>
{# Checks to see if a Flash message was send #}
{% for message in app.flashes('notice') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{# END FLASH MESSAGE #}
<ul class="list-group">
    {# Displays User Object info #}
    {% for user in users %}
    <li class="list-group-item">
        Username : {{ user.username }} <br />
        {# Checks if the person object exist. #}
        {% if user.Person is null %}
        <div class="alert alert-warning">
            No Personal data set.
        </div>
        {% else %}
        Name : {{user.Person.name}} <br />
        Description: {{user.Person.description}} <br />
        Notes: {{user.Person.notes}} <br />
        {% endif %}
        <a href="{{ path("EditUser", { "slug":user.id }) }}" class="btn btn-primary">Edit this item</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<style>
    {
        # To compensate for the Nav Menu #
    }

    .container {
        padding-top: 5rem;
    }
</style>
{% endblock %}
